body{
  max-width: 1440px;
  margin: 5em auto;
}
header{
  text-align: center;
  size: 2em;
}
header h1{
  font-size: 2.5em;
}
main{}
section{
  margin: 2em 5em;
}
#app_detail{}
#featuer{}
#area_of_responsibility{}
#enviroment th{
  font-weight: normal;
  text-align: left;
}
.function{
  margin-bottom: 1em;
  background-color: #FFF4E0;
  padding: 1em;
  border-radius: 1em;
}
#technicals{}
#ingrediences{}
#demo{}
#how_to_use{}
.section_title{
  line-height: 3em;
  padding: 0 1em;
  background-color: #0f7ea0;
  color: #FFF;
}
.section_body{
  margin: 2em;
}
.use_list{
  margin-bottom: 2em;
}
.target_user{

}
.use_procedure{
  margin: 1em 0;
  background-color: #FFF4E0;
  padding: 1.5em !important;
  border-radius: 1em;
}
.use_procedure h4{
  margin-bottom: 1em;
}
.liststyle_none{
  list-style: none !important;
}
.use_procedure li{
  list-style: decimal inside;
}
.richmenu_supplement{
  border-radius: 1em;
  padding: 1em;
  border-left: black solid 1px;
  border-right: black solid 1px;
}

footer{}