.line_page_body{
  &__form-structor{
    .timecard_edit_form{
      &__form-holder{
        padding-bottom: 1em;
        margin-bottom: 1em;
        &__a_form{
          text-align: initial;
          margin-top: 1em;
          .timecard_edit_form_label{
            color: #fff;
            display: block;
          }
          .timecard_edit_form_input{
            border-radius: 5px;
            background-color: #fff;
            overflow: hidden;
          }
          .form_radios{
            .timecard_day_off{
              -webkit-transform: scale(1.5);
              margin: 4px 4px 0 0;
            }
            .timecard_day_off_label{
              margin: 0;
              margin-left: 5px;
              font-weight: bold;
            }
          }
          .input_unit{
            color: #fff;
            display: inline;
          }
        }
        fieldset{
          border: 1px solid #fff;
          margin: 5px 2px;
          padding: 0.35em 0.625em 0.75em;
        }
        legend{
          color: #fff;
          border: 0;
          padding: 0;
          font-size: 1em;
          margin: 0;
        }
      }
      .submit-btn{
        color: rgba(255, 255, 255, 0.733);
        border: 0;
        border-radius: 15px;
        display: block;
        margin: 15px auto;
        padding: 15px 45px;
        font-size: 13px;
        font-weight: bold;
        opacity: 1;
        cursor:pointer;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}


