// Place all the styles related to the admin/line_send controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.check_of_line_send{
  visibility: hidden;
}

.line_send_check{
  margin-top: 1em;
  margin-bottom: 1em;
}
.line_send_form{
  background-color: #f7f7f7;
  margin: 1em 2em;
  border: #e3e3e3 solid thin;
  padding: 0;
}

.line_send__submit{
  margin-bottom: 1.5em;
}