<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% if field.attribute == :start_time or field.attribute == :finish_time %>
    <%= f.time_field field.attribute %>
  <% else%>
    <%= f.time_field field.attribute %>
<% end%>
</div>
